/*
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body {
    background-color: #F8F0F0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Oswald', sans-serif;
    */
}

label,
input,
p,
a,
select,
option,
.btn {
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
}

.btn {
    text-transform: uppercase;
    margin: 5px;
}

label {
    font-size: 18px;
}

nav li:hover {
    background: #D6EDBC;
}

#aboutpara {
    background-color: #E3CFCF;
}

nav li {
    font-size: 20px;
}
nav img{
    height: 50px;
}

img{
    height: 40%;
}
