/*
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body{
    background-color: #F8F0F0;
}
h1, h2, h3, h4, h5, h6, nav{
    font-family: 'Oswald', sans-serif;*/
}
label, input, p, a, select, option, .btn{
	font-size:16px;
    font-family: 'Merriweather Sans', sans-serif;
}
.btn{
    text-transform: uppercase;
    margin: 5px;
/*    place-items: center;*/
}
label{
    font-size: 18px;
}
nav li:hover{
	background: #d0f4de;
}
#aboutpara{
    background-color: #E3CFCF;
}
